# Disable directory listing
Options -Indexes

# Block direct access to configuration/key files
<FilesMatch "^\.(key|env)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Proxy reverso para o WebSocket (evita bloqueio da porta 8080 e resolve SSL)
    RewriteCond %{HTTP:Upgrade} websocket [NC]
    RewriteCond %{HTTP:Connection} upgrade [NC]
    RewriteRule ^ws-terminal/?(.*) "ws://127.0.0.1:28421/$1" [P,L]
</IfModule>
